<div class="container-main">
  <div class="navbar-main">
    <div class="navbar-left">
      <p>Vincent Tso</p>
    </div>
    <div class="navbar-right">
      <p>Test text</p>
    </div>
  </div>
  <div class="landing-banner">
    <div class="background">
      <%= image_tag "background-portfolio.png", alt: "alttext", class: 'img-banner' %>
    </div>
    <div class="foreground-content">
      <div class="content-text">
        <h1>Vincent Tso</h1>
        <p>Junior Full Stack Web Developer</p>
      </div>
    </div>
    <div class="foreground">
      <%= image_tag "foreground-portfolio.png", alt: "alttext", class: 'img-banner' %>
      <div class="landing-body">
        <div class="body-description">
          <h2>Portfolio</h2>
          <p>Here is a selection of my personal projects</p>
        </div>
        <div class="body-display">
          <% @projects.each do |project| %>
            <div class="card-project">
              <%= link_to project.url do %>
                <div class="card-flip">
                  <div class="card-front">
                    <%= image_tag project.image, class: 'card-img', alt: "alttext" %>
                  </div>
                  <div class="card-back">
                    <h2><%= project.title %></h2>
                    <p><%= project.description %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="landing-footer d-flex justify-content-around align-items-center">
        <div class="footer-links">
          <ul class="footer-link d-flex align-items-center">
            <%= link_to 'https://twitter.com/iamvincey' do %>
            <li>
              <i class="fab fa-twitter"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://www.facebook.com/vincent.tso.39' do %>
            <li>
              <i class="fab fa-facebook-f"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://www.instagram.com/vincent.tso/' do %>
            <li>
              <i class="fab fa-instagram"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/vincenttso/' do %>
            <li>
              <i class="fab fa-linkedin-in"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://github.com/vincenttso' do %>
            <li>
              <i class="fab fa-github"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
