<div class="container-main">
  <div class="navbar-main js-navbar">
    <div class="navbar-left">
      <p>Vincent Tso</p>
    </div>
    <div class="navbar-right">
      <ul class="list-inline d-flex align-items-center">
        <li class="list-item tool-active js-navbar-tool">
          <p>About</p>
          <div class="active-bar js-active-bar"></div>
        </li>
        <li class="list-item js-navbar-tool">
          <p>Projects</p>
        </li>
        <li class="list-item js-navbar-tool">
          <p>Contact</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="landing-banner">
    <div class="background">
      <%= image_tag "background-portfolio.png", alt: "alttext", class: 'img-banner' %>
    </div>
    <div class="foreground-content">
      <div class="content-text js-banner-text">
        <h1>Vincent Tso</h1>
        <p>Junior Full Stack Web Developer</p>
      </div>
    </div>
    <div class="foreground">
      <%= image_tag "foreground-portfolio.png", alt: "alttext", class: 'img-banner js-img-banner' %>
      <%= image_tag "chevron-down.png", class: 'img-sm img-nav', alt: "alttext" %>
      <div class="landing-body">
        <div class="display-body">
          <div class="display-about text-center">
            <%= image_tag "vincent.JPG", class: 'img-circle-lg display-img', alt: "alttext" %>
            <div class="about-card">
              <h2>About Me</h2>
              <p>Hey!
              I'm a Junior Full Stack Web Developer who's seriously passionate about what I do.
              As a recent graduate from the <span>Le Wagon Melbourne</span> bootcamp, batch #315, my drive to learn new things and test my limits has never been so full.
              I love seeing things being built from the ground up and coming to life, and I'm sure that we can create something spectacular together.
              </p>
            </div>
          </div>
          <div class="display-projects-body">
            <div class="display-projects-header">
              <h2>Portfolio</h2>
              <p>Here is a selection of my personal projects</p>
            </div>
            <div class="display-projects">
              <% @projects.each do |project| %>
                <div class="card-project">
                  <%= link_to project.url do %>
                    <div class="card-flip">
                      <div class="card-front">
                        <%= image_tag project.image, class: 'card-img', alt: "alttext" %>
                      </div>
                      <div class="card-back">
                        <h2><%= project.title %></h2>
                        <p><%= project.description %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="landing-footer d-flex justify-content-around align-items-center">
        <div class="footer-links">
          <ul class="footer-link d-flex align-items-center">
            <%= link_to 'https://twitter.com/iamvincey' do %>
            <li>
              <i class="fab fa-twitter"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://www.facebook.com/vincent.tso.39' do %>
            <li>
              <i class="fab fa-facebook-f"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://www.instagram.com/vincent.tso/' do %>
            <li>
              <i class="fab fa-instagram"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/vincenttso/' do %>
            <li>
              <i class="fab fa-linkedin-in"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
            <%= link_to 'https://github.com/vincenttso' do %>
            <li>
              <i class="fab fa-github"></i>
              <div class="link-square"></div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
